
*/.settings/*
*/.classpath*
*/.tern-project*
.project
/.idea/
/.settings/
/newproject-portlet/.settings/
/newproject-portlet/newproject-portlet.iml
/newproject-portlet-service/.settings/
/newproject-portlet/target/
/newproject-portlet-service/target/
/.idea/codeStyles/codeStyleConfig.xml
/newproject-portlet-service/newproject-portlet-service.iml
/newproject.iml
